body {
    width: 1920px;
    height: 4000px;
    margin: 0; padding: 0;
    background: #171717;
}

.logo {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.fetback {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E4B564;
    color: #E4B564;
    width: 218px;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    
}

.heat-networks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

/* white */
.header-title {
    width: 1192px;
    padding-top: 125px;
    color: white; 
    font-size: 50px;
    font-weight: 700;
    line-height: 28px
    
}


.heat-paragraph {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header-paragraph {
    width: 1282px;
    color: white;
    padding-top: 35px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

/* header-grid--------------------------- */
.objects {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 457px 0px 222px 225px 150px 300px;
    grid-template-rows: 450px 450px;
    grid-template-areas: 
    'work1  .     work2 work2 work3 work3 '  
    'work4  work4 .     .     .     work5 ' 
    ;
    gap: 24px;
    justify-content: center;
    text-align: center;

    
}

.objects > div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;
    
    
}

.objects > span {
    width: 370px;
}

.Work1 {
    grid-area: work1;
    background: #634F2C;
}

.Work2 {
    grid-area: work2;
    background: #B4A385;
    
}

.Work3 {
    grid-area: work3;
    background: #E4B564;
}

.Work4 {
    grid-area: work4;
    background: #635A4A;
    grid-column-start: 1;
    grid-column-end: 4;

}

.Work5 {
    grid-area: work5;
    background: #B08C4D;
    grid-column-start: 4;
}


/* Main-загловок --------------------------------------------- */
.main-title {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    width: 1222px;
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
    color: white;
}
/* Main-GRID --------------------------------------------- */
.main-objects {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 460px 460px 460px; /* 3 колонки в первом ряду */
    grid-template-rows: 250px 115px 200px;
    grid-template-areas:
      "car-1 car-2 car-3"
      "car-4 car-5 car-6"
      "car-4 car-5 car-7";
    justify-content: center;
    text-align: center;
    gap: 30px;
  }
  

.main-objects > div {
    padding: 30px;
    color: white;
    font-size: 20px;
    
}

.main-objects > span {
    color: #FFF;
    font-size: 20px;
    font-weight: 900;
}
  
.car-1 {
    grid-area: car-1; 
    width: 467px;
    height: 313px;
    flex-shrink: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    background: #0E0E0E;
}
.car-2 {
    grid-area: car-2; 
    grid-column-start: 2;
    grid-column-end: 3;
    width: 467px;
    height: 439px;
    background: #242424;
}
.car-3 {
    grid-area: car-3; 
    width: 467px;
    height: 255px;
    grid-column-start: 3;
    grid-column-end: 7;
    background: #1F1F1F;
}
.car-4 { 
    margin-top: 60px; /* Использую марджины ибо уже 2й час сижу гуглю и немогу разобраться как сделать все красиво без марджинов*/
    grid-area: car-4; 
    width: 467px;
    height: 560px;
    grid-column: 1 / 2;
    background: #1F1F1F
}
.car-5 { 
    margin-top: 180px; /* Использую марджины ибо уже 2й час сижу гуглю и немогу разобраться как сделать все красиво без марджинов*/
    grid-area: car-5; 
    width: 467px;
    height: 405px;
    grid-column: 2 / 3;
    background: #E4B564;
}
.car-6 { 
    grid-area: car-6;
    width: 467px;
    height: 313px;
    grid-column: 3 / 3;
    background: #0E0E0E;
}
.car-7 { 
    margin-top: 192px; /* Использую марджины ибо уже 2й час сижу гуглю и немогу разобраться как сделать все красиво без марджинов*/
    grid-area: car-7; 
    width: 467px;
    height: 213px;
    grid-column: 3 / 3;
    background: #0A0909;
}

/* Footer-grid */
footer {
    margin-top: 300px; /* Видать из за того что я с марджинами намудрил, теперь без него никак */
    background: #0E0E0E;
}
.footer-menu{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.all-projects {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E4B564;
    color: #E4B564;
    width: 218px;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.footer-title {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
    color: white;
}

.footer-projects {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 460px 460px 460px; /* 3 колонки в первом ряду */
    grid-template-rows: 391px 391px 391px;
    grid-template-areas:
      "projects-1 projects-2 projects-3"
      "projects-4 projects-5 projects-6";
    justify-content: center;
    text-align: center;
}
  
.footer-projects > div {
    padding: 30px;
    color: white;
    font-size: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}
  
.projects-1 {
    grid-area: projects-1;
    background: #634F2C;
}
  
.projects-2 {
    grid-area: projects-2;
    background: #E8D2AB;
}
  
.projects-3 {
    grid-area: projects-3;
    background: #E4B564;
}
  
.projects-4 {
    grid-area: projects-4;
    background: #635A4A;
  }
  
.projects-5 {
    grid-area: projects-5;
    background: #B08C4D;
  }
  
.projects-6 {
    grid-area: projects-6;
    background: #634F2C;
  }

a:hover {
    transition: 350ms;
    transform: matrix(20px);
}

.footer-projects > img {
    width: 185px;
    height: 49px;
}